{% extends 'layout.html' %}

{% block body%}


    <script defer>
         document.addEventListener("DOMContentLoaded", function () {
            const observer = new IntersectionObserver((entries) => {
            entries.forEach((entry) => {
                console.log(entry);

                if(entry.isIntersecting) {
                    entry.target.classList.add('show');
                }
                else {
                    entry.target.classList.remove('show');
                }
            });
            });

            const hiddenElements = document.querySelectorAll('.hidden');
            hiddenElements.forEach((el) => observer.observe(el));
            console.log(hiddenElements);
        });
       

    </script>
    
    <section class="container">

        <section class="row">

            <section class="col">
                <img class="presentation-image" src="https://thumbs.dreamstime.com/b/abstract-digital-radar-screen-world-map-targets-futuristic-user-interface-teal-white-shades-dark-background-113666656.jpg">
            </section>

            <section class="col">
                <p style="font-size: 50px;">Radar System</p>


                <p style="font-size: 23px;">This Radar System Project is a combination of hardware and software components designed to create a simple radar system using Arduino (C++), Processing (Java), and Django (Python). The project allows you to visualize and track objects within a specified range, making it a great learning experience for anyone interested in radar technology and data visualization.                </p>
            </section>

        </section>


        <section class="row hidden">

            <section class="col">
                <p style="font-size: 50px;">Components</p>
                To build and use this Radar System, you will need the following hardware components:
                <ul>
               <li> <strong>Arduino board </strong> (e.g., Arduino Uno)  </li>
               <li> <strong>Ultrasonic distance sensor </strong> (e.g., HC-SR04) </li>
               <li> <strong>Servo </strong> motor  </li>
               <li> <strong>Breadboard and jumper wires </strong> </li>
               <li> <strong>A computer </strong> to run the software components </li>
                </ul>
                <p style="font-size: 23px;"></p>
            </section>

            <section class="col">
                <img class="presentation-image" src="https://cdn.britannica.com/78/3678-004-E7B655EE/target-radar-operation-Principle-pulse-portion-unit.jpg">
            </section>

        </section>

        


        <section class="row hidden">

            <section class="col">
                <img class="presentation-image" src="https://raw.githubusercontent.com/Obrelix/Arduino-Radar-UI-.NET/master/Radar%20ScreeShots/RadarUI2.PNG" style="border-radius: 40px;" width="700">
            </section>
            
            <section class="col">
                <p style="font-size: 50px;">Software</p>

                The Radar System Project relies on the following software components:
                <ul>
                <li> <strong>Arduino IDE</strong>: To program the Arduino board using C++. </li>

                <li> <strong>Processing</strong>: To visualize the radar display using Java. </li>

                <li> <strong>Django</strong>: To create a web interface for accessing radar data using Python. </li>

                <li><strong>Python</strong>: Required for Django and other dependencies. </li>

                    Make sure to install these software components on your computer before proceeding. </li>
                </ul>

                <p style="font-size: 23px;"></p>
            </section>

         

        </section>

       
        <section class="text-center hidden " style="margin-top: 500px; margin-bottom: 300px;">
            <i class="fa-solid fa-satellite-dish fa-2xl" style="color: #111b2c; font-size: 500px;"></i>
            <h1 style="margin-top: 400px; font-size: 100px; font-family: 'Oswald', sans-serif;">Radar System</h1>
        </section>
        
    </section>

    <footer class="text-center">


        <p style="font-size: 25px;" class="footer-text">
            Contributions to this Radar System Project are welcome! If you have any ideas for improvements or want to report issues, please open an issue or submit a pull request on the project's <a href="https://github.com/cMardc/radar-system" >GitHub repository</a>.
            This Radar System Project is open-source and is distributed under the <a href="https://github.com/cMardc/Radar-System/blob/main/LICENSE">MIT License</a>. Feel free to use, modify, and share it according to the terms of the license.
        </p>
    </footer>

{% endblock %}