{% extends 'layout.html' %}

{% block body%}


    <script defer>
         document.addEventListener("DOMContentLoaded", function () {
            const observer = new IntersectionObserver((entries) => {
            entries.forEach((entry) => {
                console.log(entry);

                if(entry.isIntersecting) {
                    entry.target.classList.add('show');
                }
                else {
                    entry.target.classList.remove('show');
                }
            });
            });

            const hiddenElements = document.querySelectorAll('.hidden');
            hiddenElements.forEach((el) => observer.observe(el));
            console.log(hiddenElements);
        });
       

    </script>
    
    <section class="container">

        <section class="row">

            <section class="col">
                <img class="presentation-image" src="https://thumbs.dreamstime.com/b/abstract-digital-radar-screen-world-map-targets-futuristic-user-interface-teal-white-shades-dark-background-113666656.jpg">
            </section>

            <section class="col">
                <p style="font-size: 50px;">Radar Systems</p>


                <p style="font-size: 23px;">Our Radar System project is a testament to innovation and technical prowess, and we are excited to share it with the sectionerse and discerning audience at SAF 2023. This project offers an immersive and interactive experience, accessible to all festival-goers through our dedicated website.</p>
            </section>

        </section>


        <section class="row hidden">

            <section class="col">
                <p style="font-size: 50px;">Components</p>


                <p style="font-size: 23px;">The heart of our project is the seamless integration of cutting-edge technologies. We have harnessed the power of Arduino, coupled with an HCSR06 SONAR module and a servo motor, to create a radar system with 180-degree rotation capabilities. The Arduino code orchestrates the movements of the servo motor, providing real-time scanning and data collection capabilities.</p>
            </section>

            <section class="col">
                <img class="presentation-image" src="https://cdn.britannica.com/78/3678-004-E7B655EE/target-radar-operation-Principle-pulse-portion-unit.jpg">
            </section>

        </section>

        


        <section class="row hidden">

            <section class="col">
                <img class="presentation-image" src="https://raw.githubusercontent.com/Obrelix/Arduino-Radar-UI-.NET/master/Radar%20ScreeShots/RadarUI2.PNG" style="border-radius: 40px;" width="700">
            </section>
            
            <section class="col">
                <p style="font-size: 50px;">Software</p>


                <p style="font-size: 23px;">Our innovative use of Java with Processing3 takes center stage in providing a dynamic and engaging user interface for radar information display. Festival attendees can explore real-time radar data in an intuitive and visually appealing manner. The incorporation of Django-Python for web control ensures that anyone can take charge of the radar system's speed and direction, all via a user-friendly web interface.</p>
            </section>

         

        </section>

       
        <section class="text-center hidden " style="margin-top: 500px; margin-bottom: 300px;">
            <i class="fa-solid fa-satellite-dish fa-2xl" style="color: #111b2c; font-size: 500px;"></i>
            <h1 style="margin-top: 400px; font-size: 100px; font-family: 'Oswald', sans-serif;">Radar System</h1>
        </section>
        
    </section>

    <footer class="text-center">


        <p style="font-size: 25px;" class="footer-text">

            Our DIY Radar System project and accompanying website are designed with inclusivity in mind. We believe that innovation should be accessible to all, regardless of technical background. Thus, our website is user-friendly and easy to navigate, ensuring that everyone can explore the fascinating world of radar technology.
        </p> <hr> <p style="font-size: 25px;" class="footer-text">
            As we prepare to showcase our DIY Radar System at SAF 2023, we are eagerly anticipating the feedback and reactions of festival-goers. We believe that this project exemplifies the spirit of innovation and creativity that defines SAF 2023. We look forward to engaging with all who visit our website and sharing our passion for technology, creativity, and the limitless possibilities of the DIY ethos.

            Thank you for the opportunity to participate in this exciting festival and share our project with a sectionerse and enthusiastic audience.

            Warm regards, <i class="fa-solid fa-satellite-dish fa-2xl" style="color: #111b2c;"></i>
        </p>

        <img src="https://saf.steam.edu.az/saf/assets/img/logo.svg">
    </footer>

{% endblock %}